.warningPanel{

    display: flex;
    flex-direction: column;
    padding: 3px;
    border: 3px;
    margin: 20px;
    align-items: center;

    span{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 3px;
        border: 3px;
        margin: 20px;
        font-weight: bold;
    }

    .warningController{
        display: flex;
        justify-content: center;
    }
}